*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100vh;
    background: url(covers/frontground.jpg);
    background-position: center;
    background-size: cover;
}

header {
position: flex;
top: 0;
left: 0;
width: 100%;
padding: 20px;
}

header .navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;

}
.navbar .logo {
    font-size: 4.1rem;
    font-weight: 600;
}


.navbar .menu-links {
    display: flex;
    gap: 40px;


}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.navbar a:hover{
    background: linear-gradient(135deg, #6a11cb, #2575fc, #00c3ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-section{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hero-section .content{
    color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.hero-section .content h1 {
    font-size: 3rem;
    max-width: 600px;
}

.hero-section .content p {
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
}
.hero-section .content button{
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 38px;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
}

.hero-section .content button:hover{
    background: linear-gradient(135deg, #6a11cb, #2575fc, #00c3ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    background-color: #0e121d;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    background-color: #fff;
    text-decoration: none;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-section ul li a:hover{
    background: linear-gradient(135deg, #6a11cb, #2575fc, #00c3ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
}
 .social-icons a:hover{
background: linear-gradient(135deg, #c0c0c0, #a9a9a9, #808080);
 }

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.footer-bottom:hover{
    background: linear-gradient(135deg, #6a11cb, #2575fc, #00c3ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}