<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to InSTEMulate!</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to InSTEMulate!</h1>
        <p>Ignite Your Adventure and seek the knowledge in a fun way</p>
        <form action="/start">
            <button type="submit" class="button">Start Playing</button>
        </form>
    </div>
</body>
</html>
