<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InSTEMulate</title>
    <link rel="stylesheet" href="/static/indexstyles.css">
</head>
<body>
        <!-- Header Section -->
    <header>
        <nav class="navbar">
            <a href="/start" class="logo">InSTEMulate <span></span></a>
            <ul class="menu-links">
                <li><a href="#">Home</a></li>
                <li><a href="/start">Demo</a></li>
                <li><a href="https://docs.google.com/presentation/d/1hM0V1SGTQsPFR7t4zbnn77JXYmG7FNUDA6dlJMHhi04/edit?usp=sharing">Slides</a></li>
                <li><a href="https://github.com/Muffinz1/InSTEMulate" target="_blank">Github</a></li>
                <li><a href="#footer">Contact Us</a></li>
            </ul>
        </nav>
    </header>
        <!-- Hero Section -->
    <section class="hero-section">
        <div class="content">
            <h1>Ignite your adventure</h1>
            <p>
                InSTEMulate is a trivia game that connects all of us,
                is useful in each category, and brings fun to everyone.
                Spice up your learning journey with a game that challenges,
                entertains, and teaches you something new.
            </p>
            <form action="/start">
                <button>Try Now</button>
            </form>
        </div>
    </section>
        <!-- Footer Section -->
    <footer>
        <div class="footer-container" id="footer">
            <div class="footer-section">
                <h4>About Us</h4>
                <p>Learn more about our Application and mission through our blog, discord server, Github.</p>
            </div>
            <div class="footer-section">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#Mobile App">Mobile App</a></li>
                    <li><a href="https://discord.gg/Thf3eZYd"target="_blank">Discord</a></li>
                    <li><a href="#blog">Blog</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Contact Us</h4>
                <p> savegawugah01@gmail.com</p>
                <p> amiryou120@gmail.com</p>
                <p>mathewoluwashinastephen@gmail.com</p>
            </div>
            <div class="footer-section">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <a href="https://github.com/Muffinz1/InSTEMulate" target="_blank"> <img src="static/covers/github-fill.png" alt="GitHub"></a>
                    <a href="https://twitter.com/alx_africa"target="_blank"><img src="static/covers/twitter-x-line.png" alt="Twitter"></a>
                    <a href="https://docs.google.com/presentation/d/1hM0V1SGTQsPFR7t4zbnn77JXYmG7FNUDA6dlJMHhi04/edit?usp=sharing"target="_blank"><img src="static/covers/medium-fill.png" alt="Blog"></a>
                    <a href="https://discord.gg/Thf3eZYd"target="_blank"><img src="static/covers/discord-fill.png" alt="Discord"></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 InSTEMulate, All rights reserved.</p>
        </div>
    </footer>
    <script src="static/JavaScript/indexscript.js"></script>
</body>
</html>
