<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InSTEMulate</title>
    <link rel="stylesheet" href="/static/indexstyles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/start" class="logo">InSTEMulate <span></span></a>
            <ul class="menu-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">User Stories</a></li>
                <li><a href="/start">Demo</a></li>
                <li><a href="https://github.com/Muffinz1/InSTEMulate/blob/main/README.md">About Us</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero-section">
        <div class="content">
            <h1>Ignite your adventure</h1>
            <p>
                InSTEMulate a trivia game that connects all of us ,
                useful in each category and brings fun to everyone , 
                how about spicing our learning journey with a game 
                that makes us challenge , enjoy and always learn something new.
            </p>
            <form action="/start">
                <button>Try Now</button>
            </form>
        </div>
    </section>
    <script src="indexscript.js"></script>
</body>
</html>
